<div class="logout">
    <h3><a href="/logout">Log Out</a></h3>
</div>

    <div class="guapetona">
        <div class="chat">
            <h2>We the undersigned demand that health insurances start covering the costs of concert tickets</h2>
        </div>

        {{#rows}}
            <!-- <h3 class="signer">{{first}} {{last}}</h3> -->
            <h3 class="signer">
                {{#if url}}
                    <a href={{url}}>{{first}} {{last}}</a> {{age}} <a href="/signers/{{city}}">{{city}}</a>
                {{else}}
                    {{first}} {{last}}</a> {{age}} <a href="/signers/{{city}}">{{city}}</a>
                {{/if}}
            </h3>
        {{/rows}}

    </div>
